body {
  font-family: "微軟正黑體", sans-serif;
  background-color: #FFE4D6;
  padding: 20px;
  align-items: center;         /* items-center */
  justify-content: center;     /* justify-center */
}

.quiz-container {
  width: 80%;    
  background-color: #FDF6F0;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quiz-container h2, .quiz-container label{
  font-size: 32px;
  line-height: 2;
}

button {
  margin-top: 40px;
  padding: 8px 16px;
  background-color: #f9bd64;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 27px
}

.modal {
  width: 80%;   
  margin: 20px auto;  
  background-color: rgba(255, 255, 255, 0);
  display: flex;
}

.modal-content {
  background-color: white;
  width: 100%;  
  padding: 20px;
  border-radius: 28px;
  text-align: center;
}

#resultText {
  font-size: 1.5em;   /* 跟 h2 一樣大 */
  font-weight: bold;
}

#explanationText {
  font-size: 1.5em; /* 說明稍微小一點 */
}

.hidden {
  display: none;
}
