body {
  font-family: "微軟正黑體", sans-serif;
  background-color: #fffaf5;
  padding: 20px;
  max-width: 720px;
  margin: auto;
}

h1 {
  color: #b88356;
  margin-bottom: 20px;
}

h2 {
  color: #db8a19;
  margin-top: 30px;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
}

.options label {
  display: block;
  margin-left: 20px;
  margin-bottom: 5px;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
  color: green;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #f5bd93;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
